.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  border-spacing: 0;
  border-collapse: collapse;
}

.table-cell {
  border: 2px solid black;
  padding: 10px;
}

.table-column {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}

